<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324174604228-s9ci76k0usnfn4ignu75c9kejqjea0m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324174604228-s9ci76k0usnfn4ignu75c9kejqjea0m1</string>
	<key>API_KEY</key>
	<string>AIzaSyASDIy7vWLoP93gzg7Tw_NdsYEdUwSZO1U</string>
	<key>GCM_SENDER_ID</key>
	<string>324174604228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-4dea1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-4dea1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324174604228:ios:35960eb3e61fbfb8b1a691</string>
</dict>
</plist>